@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    white-space: nowrap;   
    width: 100%;
    height: 312px; 
    background: linear-gradient(180deg, rgba(103, 70, 185, 0.5) -38.84%, rgba(103, 70, 185, 0) 68.72%, rgba(103, 70, 185, 0) 90.23%);
    color: #fff; /*color of element*/
    /* Config font */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* END CF */
}
.logo {
    width: 250px;
    margin-top: 79px;
    margin-left: 200px;
    margin-right: 111px;
}
.header_wrap {
    align-items: center;
    text-decoration: none;
    text-align: center;
    margin-top: 100px;
}
.header_wrap ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
}

.header_wrap li {
    margin-right: 141px;
}
.header_wrap a {
    text-decoration: none;
    color: black;
}

.header_wrap li:last-child {
    margin-right: 0; /* Убираем margin с последнего элемента */
  }

.header_button {
    margin-left: 170px;
    margin-top: 100px;
    margin-right: 207px;
}

.header_button ul {
    list-style: none;
    display: flex;    
}
.header_button li{
    padding-left: 90px;
}

.header_button a{
    text-decoration: none;
    color: black;
}

.header_button button {
    width: 124px;
    height: 33px;
    background: #6746B9;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

footer {
    display: flex;
    white-space: nowrap;   
    width: 100%;
    height: 312px; 
    background: #6746B9;
    box-shadow: 0px -2px 13px rgba(0, 0, 0, 0.25);
    color: #ffffff; /*color of element*/
    /* Config font */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* END CF */
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer nav {
    height: 230;
    display: flex;
    
}

footer ul {
    margin-top: 101px;
    margin-left: 256px;
    list-style: none;
}

.main {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    display: flex;
    width: 1616px;
    height: 1024px;
    margin-left: 208px;
}

.main h1 {
    font-size: 70px;
    line-height: 95px;   
    color: #6746B9;
}
.main p{
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    margin-top: 22px;
}
.main button{
    font-weight: 700;
    font-size: 32px;
    width: 482px;
    height: 86px;
    background: #6746B9;
    border-radius: 16px;
    margin-top: 339px;
}
.main a {
    text-decoration: none;
    color: #ffffff;
}

.main_rihgt {
    position: absolute;
    width: 1024px;
    height: 1024px;
    left: 800px;
    top: 170px;
}

.articles {
    display: flex;
    font-family: 'Open Sans';
    font-style: normal;
    margin-left: 208px;
}
.articles h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    color: #6746B9;
}
.articles p {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;  
    color: #000000;
}

.col1 {
    /* Rectangle 41 */

/* position: absolute; */
width: 850px;
height: 790px;


background: #FCFDFF;

box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
border-radius: 76px;

}
.col1 h2{
margin-top: 60px; 
margin-left: 62px;   
}

.col1 p{
    margin-top: 31px; 
    margin-left: 62px;
}

.read{
    font-size: 24px;
    line-height: 33px;
    text-decoration-line: underline; 
    color: #000000;
    text-align: right;
}

.allcol div{
    width: 520px;
    height: 358px;
    left: 904px;
    top: 22px;
    background: #FCFDFF;
    /* Style */
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
    border-radius: 76px;
    margin: 30px;
}


.allcol a {
    display: block; /*в блочный элемент */
    text-align: center; /* Выравниваем текст внутри блока по центру */
    font-size: 20px;
    line-height: 27px;
    text-decoration-line: underline;
    color: #000000;
}
.allcol h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #6746B9;
}

.allcol p{
    margin-top: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.col1 a {
    display: block; /*в блочный элемент */
    text-align: center; /* Выравниваем текст внутри блока по центру */

}

.allcol div h3{
    padding-left: 37px;
    padding-top: 63px;
}

.allcol div p {
    padding-left: 37px;
}

button {
    cursor: pointer;
}